/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}
  
body {
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px;
    width: 500px; 
    padding: 50px;
    
    
  
}
   
header {
    background-color: teal;
    width: 200px;
    padding: 50px;
    
}
h1, h2, h3, ol, ul, p {
   color: white;
   text-align: left;
   
}

nav {
   font-family: Arial, sans-serif;
   font-size: 14px;
 
}

#profile {
  text-align: center;
  padding: 50px;
  
}

