/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}
  
/* added style for " forced dark mode" in my <head> on index.html... There's probably a better way to do this but I'll update it later */

